.customer-page.theme-default-margin.wishlist_area {
    padding-bottom: 60px !important;
}

.theme-default-margin, .shopify-challenge__container {
    /* padding-top: 90px!important; */
    padding-bottom: 90px!important;
}
.wishlist-product-item {
    margin-bottom: 30px;
}
.wishlist_exists .wishlist-item {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.media-link--image img {
    width:230px
}
.action-wishlist.wishlist-btn.wishlist.active {
    top: 5px;
    right: 5px;
    position: absolute;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-color: orangered;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50%;
}