.login-form {
  background: white none repeat scroll 0 0;
  -webkit-box-shadow: 2px 2px 11px 0 rgb(0 0 0 / 10%);
  box-shadow: 2px 2px 11px #0000001a;
  padding: 30px 30px 20px;
}

.login-form input {
  background: #ebebeb none repeat scroll 0 0;
  border: 1px solid #ebebeb;
  border-radius: 0;
  font-size: 14px;
  height: auto;
}

.login-text {
  text-align: center;
  margin-bottom: 30px;
}

.login-text p {
  color: #666;
  font-size: 15px;
}

p:last-child {
  margin-bottom: 0;
}

.login-header {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
  text-transform: inherit;
}

.container .row {
  margin-right: -15px;
  margin-left: -15px;
}

.form-group {
  margin-bottom: 16px;
}
.login-form .form-group > .col-form-label {
  font-size: 14px;
}
.container .row div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.login-form .form-control {
  font-size: 13px;
}

.mb-25 {
  margin-bottom: 25px;
}

.text-center {
  text-align: center !important;
}

.login-toggle-btn a {
  color: #333;
  transition: all 0.3s ease 0s;
}
.login-details a {
  color: #303030;
  display: block;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.login-btn {
  border-color: #e52e06 !important;
  background: #e52e06 !important;
  padding: 13px 30px 12px;
  border: medium none;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 26px;
  margin: 10px 0;
}
